@(product: Product)(implicit flash: Flash, lang: Lang)

@main(Messages("products.details", product.name)) {
	<h2>
		@tags.barcode(product.ean)
		@Messages("products.details", product.name)
	</h2>

	<dl class="dl-horizontal">
		<dt>@Messages("ean"):</dt>
		<dd>@product.ean</dd>

		<dt>@Messages("name"):</dt>
		<dd>@product.name</dd>
		
		<dt>@Messages("description"):</dt>
		<dd>@product.description</dd>
	</dl>
}